body {
    text-align: center;
    background-color: #4C6085;
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    margin: 40px;
    color: white;
    font-size: 50px;
}

label {
    color: white;
    font-size: 32px;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    
}

.board {
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
}

.flex-row {
    flex: 1;
    display: flex;
}

.flex-square {
    flex: 1;
    background-color: white;
}

.selected, .selected:hover {
    color: white;
    background-color: #13C4A3;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 40px;
}

button {
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;    
    width: 130px;
    height: 50px;
    border: none;
}

button:hover {
   background-color: #36F1CD;
   color: white;
}

/* Range Input CSS */
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #36F1CD;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


/* Color Input CSS */
input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  input[type=color]::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
  }
  input[type=color]::-moz-color-swatch {
    border-radius: 10px;
    border: none;
  }

